* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.link {
  text-decoration: none;
  color: #000000;
  font-family: inherit;

  font-weight: 500;
  display: flex;
  align-items: 'center';

  justify-content: center;
}

/* Hover effect for the "Shop" link */
/* .linkItems:hover + .subcategories,
.subcategories:hover {
  display: block; /* Show the subcategories when "Shop" is hovered */
/* }*/
